/* Glass Background */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/bg.jpg') center/cover no-repeat;
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
}

/* Center box */
.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-box {
    width: 330px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

h2 {
    color: white;
    font-weight: 600;
}

.subtitle {
    color: #eee;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Floating label inputs */
.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    color: white;
}

.input-group label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #ddd;
    transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -12px;
    font-size: 12px;
    color: #fff;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #0aa7ff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.note {
    margin-top: 15px;
    color: #eee;
    font-size: 12px;
}
 
